extends layout

block content
  h1= title
  h3 The image upload pipelining tool!
  p.
    Integrating Aliasr in to your image sharing application allows your users to send
    links to images before they are even finished uploading.
  if hasCount
      p.
        #{aliasCount} aliases have been created so far.
