extends layout

block content
    div(class='row text-center')
        div(class='col-lg-12')
            div(class='page-header')
                h1 Statistics
                p(class='lead') More detailed statistics coming soon!
