extends layout

block content
    div(class='row text-center')
        div(class='col-lg-12')
            div(class='page-header')
                h1 Almost there!
                img(src='/images/waiting.gif' class='no-outline')
    div(class='row')
        div(class='col-lg-12')
            p.
                The image you have been linked to is still being uploaded.
                You will be redirected to the image as soon as it finishes uploading.
            p If the image does not appear soon, click #[a(href='') here] to reload.
block scripts
    script(src='/javascripts/redirect.js')
